#root {
  max-width: 1280px;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 60vw;
  border-bottom: 1px solid gray;
  padding-top: 10px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 10px;
}

#home-pic {
  height: 500px;
  width: 400px;
  object-fit: cover;
}

#res-btn {
  border-radius: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

li {
  list-style: none;
  width: 400px;
  text-align: center;
  background-color: #1a1a1a;
  padding: 4px 10px;
  margin: 4px;
  border-radius: 20px;
  border: 1px solid transparent;
}

li:hover {
  border-color: #646cff;
}

small {
  font-size: 14px;
}

.about {
  width: 50%;
  text-align: center;
}